body {
  text-align: center;
  background-color: #011f3f;
}

#level-title {
  font-family: "Press Start 2P", cursive;
  font-size: 3rem;
  margin: 5%;
  color: #fef2bf;
}
.list {
  text-align: left;
}
/* 
.container {
  display: block;
  width: 50%;
  margin: auto;
} */

.button {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  /* border: 10px solid black; */
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  /* background-color: red; */
  background: linear-gradient(-45deg, rgb(255, 2, 2), rgb(230, 56, 56));
  box-shadow: 8px 8px 12px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
}

.green {
  /* background-color: green; */
  background: linear-gradient( -45deg,rgba(10, 255, 1, 0.986),rgb(54, 223, 54));
  box-shadow: 8px 8px 12px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
}

.blue {
  /* background-color: blue; */
  background: linear-gradient(-45deg, rgb(46, 0, 253), rgb(56, 54, 218));
  box-shadow: 8px 8px 12px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
}

.yellow {
  /* background-color: yellow; */
  background: linear-gradient(-45deg, rgb(229, 255, 0), rgb(219, 208, 50));
  box-shadow: 8px 8px 12px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
}

.pressed {
  /* box-shadow: 0 0 20px white;
  background-color: grey; */
  box-shadow: inset 8px 8px 12px 0 rgba(0, 0, 0, 0.25),inset -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
}

